*{
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    /* border: 1px solid black */

}
body{
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-row-gap: 15px;
    margin-bottom: 0;
    margin-top: 0;
    background-color: azure;
}
header{
   
    background-image: linear-gradient(mediumblue, azure);
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


h2{
    font-family: Helvetica, sans-serif;
    text-decoration: underline;
}

#links{
     display: grid;
    grid-template-columns: 1fr 1fr 2fr; 
    margin-top: 20px;
    font-size: 15pt;
}

a{
    color: black;
    text-decoration: none;
}

.container{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    margin: 0;
   
    
} 

.quotes{
    border: 1px black solid;
    margin: 10px 20px 10px 20px;
    background-image: linear-gradient(mediumblue, azure);
    
}

.quote, .quote2, .quote3, .quote4, .quote5, .quote6{
    font-size: 30px;
    font-weight: bold;
}

.error{
    text-align: center;
}
.character, .character2, .character3, .character4, .character5, .character6{
    font-size: 20px;
    
}
/* aside{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */


.button:hover{
    color: black;
    background-color: silver;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-image: linear-gradient(mediumblue, azure);

} 

footer a {
    font-size: 15pt;
}

.hidden{
    display: none;
}

.quotes{
    display: grid;
    grid-template-rows: 4fr 1fr;
   
}

a:hover{
    text-decoration: underline;
}

input:hover{
    background-color: lightblue;
}


@media (max-width: 700px ){
    
    #links{
        display: none;
   
    }
    footer a{
        display: none
    }
    h2{
        text-decoration: none;
    }
}