*{
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    /* border: 1px solid black; */

}
body{
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    margin-bottom: 0;
    margin-top: 0;
}
header{
    border: 1px solid black; 
    background-image: linear-gradient(mediumblue, azure);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h2{
    color: black;
}

#links{
     display: grid;
    grid-template-columns: 1fr 1fr 2fr; 
    margin-top: 20px;
    font-size: 15pt;
}

a{
    color: black;
    text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    border:1px solid black ;
} 

.quotes{
    border: 1px solid black;
    margin: 10px 20px 10px 20px;
    background-image: linear-gradient(mediumblue, azure);
    
}

.quote, .quote2, .quote3, .quote4, .quote5, .quote6{
    font-size: 30px;
}

/* aside{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */
main{
    background-color: azure;
}

.button:hover{
    color: black;
    background-color: silver;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-image: linear-gradient(mediumblue, azure);

} 

footer a {
    font-size: 15pt;
}

.hidden{
    display: none;
}

.quotes{
    display: grid;
    grid-template-rows: 2fr 1fr;
}

a:hover{
    text-decoration: underline;
}

input:hover{
    background-color: lightblue;
}


@media (max-width: 700px ){
    
    #links{
        display: none;
   
    }
    footer a{
        display: none
    }
}